body{
    background-color: #EEE;
    text-align: center;
}

canvas{
    background-color: rgb(255, 255, 255);
    border-top:  5px solid skyblue;
    border-left:  5px solid skyblue;
    border-right:  5px solid skyblue;
    /* Added for text rendering */
    font-family: Arial, sans-serif;
    font-weight: bold;
}